* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.zip binary
*.pdf binary
*.mp4 binary
*.jar binary
*.keystore binary
*.jks binary
*.olf binary
